/************--- DO NOT REPLACE ---*******************/
/* STORYLINE STORYLINE STORYLINE STORYLINE STORYLINE */
/* LO AND BEHOLD, THE MAIN, ALMIGHTY STYLESHEET FOR  */
/* STORYLINE STORYLINE STORYLINE STORYLINE STORYLINE */ 
/*****************************************************/

/*** SETS STYLES FOR VIEWING CHANGES ON STORY ***/
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}
del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
/*** END OF STYLES FOR VIEWING CHANGES ON STORY ***/

.new-chap, .new-para, .edit-para {
	display: none;
}